
/* H E A D E R */

body{
    background-color: hsl(218, 28%, 13%);
    color: hsl(0, 0%, 100%);
}


/* F O O T E R */

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
        color: hsl(228, 45%, 44%); 
}