
/* G E N E R A L */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Raleway:400,700&display=swap'); /* font */

body{
    background-color: hsl(218, 28%, 13%);
    padding: 0;
    margin: 0;
    color: hsl(0, 0%, 100%);
    font-family: 'open sans', Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
}

a, ul, h1, h2, h3{
    font-family: 'raleway', Arial, sans-serif;
    font-weight: 700;
}

h2{
    font-size: 2.3em;
    line-height: 1.5em;
    margin: 35px auto;
}

a, ul{
    text-decoration: none;
    list-style: none;
}

a:visited{
    color: inherit; /* preventing color change after click */
}

/* H E A D E R */

header{
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar a{
    margin: 0 25px;
    padding: 10px;
    font-weight: 400;
}

/* H E R O */

#hero{
    display: flex;
    justify-content: center;
}

#hero article{
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

#hero img{
    width: 100%;
}

#hero p{
    width: 75%;
    font-size: 1.2em;
    margin: 0 auto;
}

.btn{
    background-image: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    padding: 20px;
    border-radius: 35px;
    font-size: 1.2em;
}

.main-cta{
    margin: 35px auto;
    width: 250px;
}

.main-cta:hover{
    background-image: linear-gradient(to left, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
}

/* F O O T E R */

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}